.common-input {
  box-sizing: border-box;
  height: 30px;
  padding: 0 10px;
  margin: 5px 0;
  font-size: 16px;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 6px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}

.common-input:focus {
  border: 1px solid #00b5ad;
}

.role-inputs {
  display: flex;
  justify-content: center;
}

.role-name {
  width: 100%;
  margin-right: 5px;
}

.create-container .role-number {
  margin-left: 5px;
  width: 40px;
}